<div class="container" data-controller="homepage-web">
  <div class="homepage">
    <h1 class="headline" style="font-family: Atkinson Hyperlegible;" aria-label="illuminate">
      <span class="letter" aria-hidden="true">i</span>
      <span class="letter" aria-hidden="true">l</span>
      <span class="letter" aria-hidden="true">l</span>
      <span class="letter" aria-hidden="true">u</span>
      <span class="letter" aria-hidden="true">m</span>
      <span class="letter" aria-hidden="true">i</span>
      <span class="letter" aria-hidden="true">n</span>
      <span class="letter" aria-hidden="true">a</span>
      <span class="letter" aria-hidden="true">t</span>
      <span class="letter" aria-hidden="true">e</span>
    </h1>

    <h2 class="text-center tagline">Enhancing the beauty journey for all.</h2>
    <%= image_tag "illuminate_phone_mockup.png", id: "homepage-img", alt: 'A picture of the Illuminate app on a phone screen' %>
    <%#= link_to "Learn More", "#about-section", class: "btn btn-primary btn-lg m-2" %>
    <div class="intro">
      <div class="wave-container">
        <div id="intro-box">
          <p id="about-section" data-sr="enter left, move 30px, over 1s, wait 0.7s">Illuminate provides a way for those who are visually-impaired
          to discover beauty products using a quick QR scan from their mobile device.</p>
          <div class='d-flex flex-row justify-content-center mt-2'>
            <% if user_signed_in? %>
              <%= link_to "Get started", new_product_path, class: "btn btn-light btn-lg text-primary m-2" %>
            <% else %>
              <%= link_to "Get started", new_user_registration_path, class: "btn btn-light btn-lg text-primary m-2" %>
            <% end %>
          </div>
        </div>
      </div>

      <p class="paragraph-intro" data-sr="enter left, move 30px, over 1s, wait 0.7s">Once scanned, users can listen to a product summary including its
      description, price and ingredients list. If they like what they hear,
      that can save the product to their account.</p>

      <p class="paragraph-intro" data-sr="enter left, move 30px, over 1s, wait 0.7s">If a user needs assistance, they can call the beauty store directly
      from the app to speak with an employee. It's really that easy! If you'd like to get your products on Illuminate, <a class="text-primary" href="mailto:hello@dari.codes" target="_blank"> get in touch</a><span class='sr-only'> at hello@dari.codes</span>!</p>
    </div>
  </div>
</div>

<div class="footer shadow-lg">
  <div class="footer-links">
    <%= link_to "Terms & Conditions", terms_and_conditions_path, class: "fs-6" %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: "fs-6" %>
  </div>
  <div class="footer-copyright">
    © Illuminate
  </div>
</div>
