<div class="container-fluid">
  <div class="wave-container">
    <h1 class='text-center my-5' style='font-size: 2em;'>What would you like to do today?</h1>
  </div>

  <div class="row" style='margin-top: 30px;'>
    <div class="col-sm-12 col-md-6 product-column mx-auto">
      <%= link_to new_product_path, aria_label: "Scan a product", role: "button", tabindex: "0" do %>
        <div class="card product-card mb-4">
          <div class="row g-0">
            <div class="col-3" aria-hidden="true">
              <%= image_tag 'barcode1.png', alt: "Image for a QR code being scanned", class: 'img-fluid rounded-start p-3', width: 200 %>
            </div>
            <div class="col-9">
              <div class="card-body product-card-body" aria-hidden="true">
                <h2 class="card-title product-index-title">Scan a product</h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6 product-column mx-auto">
      <%= link_to products_assistance_path, aria_label: "Call for assistance", role: "button", tabindex: "0" do %>
        <div class="card product-card mb-4" >
          <div class="row g-0">
            <div class="col-3" aria-hidden="true">
              <%= image_tag 'assistance2.png', alt: "Image of a headset to call for assistance", class: 'img-fluid rounded-start p-3', width: 200 %>
            </div>
            <div class="col-9">
              <div class="card-body product-card-body" aria-hidden="true">
                <h2 class="card-title product-index-title fs-4">Call for assistance</h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-md-6 product-column mx-auto">
        <%= link_to user_favorites_products_path, aria_label: "Go to favorites", role: "button", tabindex: "0" do %>
          <div class="card product-card mb-4">
            <div class="row g-0">
              <div class="col-3" aria-hidden="true">
                <%= image_tag 'favorites.png', alt: "Image of a heart", class: 'img-fluid rounded-start p-3', width: 200 %>
              </div>
              <div class="col-9">
                <div class="card-body product-card-body" aria-hidden="true">
                  <h2 class="card-title product-index-title">Go to favorites</h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>


  <% unless user_signed_in? %>
    <div class="text-center" style='margin: 20px auto;'>
      <div class="button-container my-3" style="max-width: 400px; margin: 0 auto;">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-dark rounded-sm' %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-lg btn-outline-dark rounded-sm' %>
      </div>
    </div>
  <% end %>
</div>
