Here are all the products:

<% @products.each do | product|  %>
<div>
<%= product.name %>
<%= product.brand %>
<%= product.description %>
<%= product.retail_price %>
<%= product.category %>
<%= product.color %>
<%= product.ingredients %>
<%= product.user_rating %>
<%= product.bonus_points %>
</div>
<% end %>
