<div class="container">
  <div class="product-details">
    <h1><%= @product['displayName'] %></h1>
    <h2><span class="fw-light">by </span><%= @product['brand']['displayName'] %></h2>
    <%# Inserted for mock star rating placement %>
    <p style="font-size:2em;"><%= "⭐️" * (@product['rating'].to_i)%></p>
    <h3><%= @product['listPrice'] %></h3>
    <p><%= @product['longDescription'].html_safe %></p>
    <p>Category: <%= @product['parentCategory']['displayName'] %></p>
    <p>Ingredients: <%= @product['currentSku']['ingredientDesc'] %></p>
  </div>
  <button class="btn btn-dark rounded-md fw-bold m-1 p-3 fs-3">New Scan</button>
  <button class="btn btn-dark rounded-md fw-bold m-1 p-3 fs-3">Ask For Help</button>
</div>
