<div class="container py-2">
  <div class="product-img">
    <% if @product.image_url.nil? %>
      <%= image_tag "cream.png", alt: "Product image not available", id: "product-hero", class: "bg-white shadow-lg rounded-circle", width: 250 %>
    <% else %>
      <img id="product-hero" class="bg-white shadow-lg rounded-circle" style="width:250px;" src=<%= @product.image_url%> alt=<%= "Image of #{@product.name} by #{@product.brand}" %>>
    <% end %>
    <!-- If the user is signed in, show the 'Add to favorite' feature -->
    <% if user_signed_in? %>
      <% if current_user.favorited?(@product) %>
        <div class="favorite-container">
          <i id="favorited-heart" class="fa-solid fa-heart"></i>
          <p id ="favorited-text" class="text-center">This product is in your favorites!</p>
        </div>
      <% else %>
        <%= link_to favorite_product_path(@product), class: "favorite-container d-flex flex-column align-items-center" do %>
            <i id="favorite-heart" class="fa-solid fa-heart"></i>
            <p class="text-center">Add to your favorites</p>
        <% end %>
      <% end %>

    <!-- Else, ask them to sign up or login -->

    <% else %>
    <div class="favorite-container">
      <%= link_to new_user_session_path, class: "d-flex flex-column align-items-center" do %>
        <i id="favorite-heart" class="fa-solid fa-heart"></i>
        <p class="text-center"> <strong><u>Login to save this product.</u></strong></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="product-details shadow-lg">
    <h1><%= @product.name.titleize %></h1>
    <h2><span class="fw-light">by </span><%= @product.brand.titleize %></h2>
    <% (@product.user_rating.to_i).times do %>
      <i class="fa-solid fa-star fs-2" style="color:#ffcc00;"></i>
    <% end %>
    <h2 class="mb-3"><%= @product.retail_price == "$0.00" ? "Ask store associate" : @product.retail_price  %></h2>
    <ul class="product-menu">
      <a class="btn btn-primary" href="#description"><li>Description</li></a>
      <a class="btn btn-primary" href="#how-to"><li>How To</li></a>
      <a class="btn btn-primary" href="#benefits"><li>Benefits</li></a>
      <a class="btn btn-primary" href="#ingredients"><li>Ingredients</li></a>
      <a class="btn btn-primary" href="#bonus"><li>Bonus</li></a>
    </ul>

    <p id="description"><strong>Description</strong><br><%= @product.description.html_safe %></p>
    <p id="how-to"><strong>How To</strong><br><%= @product.how_to.html_safe %></p>
    <p id="benefits"><strong>Benefits</strong><br><%= @product.benefits.html_safe %></p>
    <p id="ingredients"><strong>Ingredients</strong><br><%= @product.ingredients.html_safe %></p>
    <p id="bonus"><strong>Bonus</strong><br><%= @product.bonus_points.html_safe %></p>
  </div>
  <div class="buttons d-flex flex-row justify-content-center">
    <%= link_to 'New Scan', new_product_path, class: "btn btn-primary fs-2" %>
    <%= link_to 'Ask for Help', root_path, class: "btn btn-primary fs-2" %>
  </div>
</div>
