<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, image_url(@product.image_url) if @product.image_url.exists? %>

<div class="container py-2">
  <div class="product-img">
    <% if @product.image_url.nil? %>
      <%= image_tag "cream.png", alt: "Product image not available", id: "product-hero", class: "bg-white shadow-lg rounded-circle", width: 250 %>
    <% else %>
      <img id="product-hero" class="bg-white shadow-lg rounded-circle" alt='A picture of the product you selected' style="width:250px;" src=<%= @product.image_url%> alt=<%= "Image of #{@product.name} by #{@product.brand}" %>>
    <% end %>
    <%= render "shared/favorite" %>
  </div>
  <div class="product-details shadow-lg">
    <h1><%= @product.name.titleize %></h1>
    <h2><span class="fw-light">by </span><%= @product.brand.titleize %></h2>
    <% (@product.user_rating.to_i).times do %>
      <i class="fa-solid fa-star fs-2" style="color:#ffcc00;"></i>
    <% end %>
    <p class="sr-only">User rating: <%= (@product.user_rating.to_i) %>out of 5</p>

    <h2 class="mb-3"><%= @product.retail_price == "$0.00" ? "Ask store associate" : @product.retail_price  %></h2>
    <div class="product-menu accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style='font-size: 1.5rem'>
          Description
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.description.nil? ? (link_to "Ask store associate", products_assistance_path, class:"text-primary") : @product.description.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style='font-size: 1.5rem'>
            How To
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.how_to.nil? ? (link_to "Ask store associate", products_assistance_path, class:"text-primary") : @product.how_to.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style='font-size: 1.5rem'>
            Benefits
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.benefits.nil? ? (link_to "Ask store associate", products_assistance_path, class:"text-primary") : @product.benefits.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style='font-size: 1.5rem'>
            Ingredients
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.ingredients.nil? ? (link_to "Ask store associate", products_assistance_path, class:"text-primary") : @product.ingredients.html_safe %></div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style='font-size: 1.5rem'>
            Bonus Points
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.bonus_points.nil? ? (link_to "Ask store associate", products_assistance_path, class:"text-primary") : @product.bonus_points.html_safe %></div>
        </div>
      </div>
      </div>
  </div>

  <div class="buttons d-flex flex-row justify-content-center">
    <%= link_to 'New Scan', new_product_path, class: "btn btn-primary btn-lg" %>
    <%= link_to 'Ask for Help', products_assistance_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
