<div class="container py-2">
  <div class="product-img">
    <% if @product.image_url.nil? %>
      <%= image_tag "cream.png", alt: "Product image not available", id: "product-hero", class: "bg-white rounded-circle", width: 250 %>
    <% else %>
      <img id="product-hero" class="rounded-circle" style="width:250px;" src=<%= @product.image_url%> alt=<%= "Image of #{@product.name} by #{@product.brand}" %>>
    <% end %>
    <!-- If the user is signed in, show the 'Add to favorite' feature -->
    <% if user_signed_in? %>
      <div class="favorite-container" data-controller="favorite" data-action="click->favorite#toggle" data-product-id="<%= @product.id %>">
        <i id="favorite-heart" class="fa-heart fa-<%= current_user.favorited?(@product) ? 'solid' : 'regular' %>" data-target="favorite.heart"></i>
        <p class="text-center" data-target="favorite.text">
          <%= current_user.favorited?(@product) ? "This product is in your favorites!" : "Add to your favorites" %>
        </p>
      </div>
      <%= link_to "My favorites", user_favorites_products_path %>

    <!-- Else, ask them to sign up or login -->

    <% else %>
    <div class="favorite-container">
    <i id="favorite-heart" class="fa-regular fa-heart"></i>
    <p class="text-center"> Login or sign up to save this product. </p>
    <div class="d-flex m-2">
     <%= link_to 'Login', new_user_session_path, class: "btn btn-dark m-2" %>
     <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-dark m-2" %>
    </div>
    </div>
    <% end %>
  </div>
  <div class="product-details">
    <h1><%= @product.name.titleize %></h1>
    <h2><span class="fw-light">by </span><%= @product.brand.titleize %></h2>
    <% (@product.user_rating.to_i).times do %>
      <i class="fa-solid fa-star fs-2" style="color:#ffcc00;"></i>
    <% end %>
    <h3 class="mt-3"><%= @product.retail_price == "$0.00" ? "Ask store associate" : @product.retail_price  %></h3>
    <p><%= @product.description.html_safe %></p>
    <p><%= @product.how_to.html_safe %></p>
    <p><%= @product.benefits.html_safe %></p>
    <p><strong>Ingredients:</strong> <%= @product.ingredients.html_safe %></p>
    <p><strong>Bonus Points:</strong> <%= @product.bonus_points.html_safe %></p>
  </div>
  <%= link_to 'New Scan', new_product_path, class: "btn btn-dark rounded-md fw-bold m-1 p-3 fs-3" %>
  <button class="btn btn-dark rounded-md fw-bold m-1 p-3 fs-3">Ask For Help</button>
</div>
