<div class="container py-2">
  <div class="product-img">
    <% if @product.image_url.nil? %>
      <%= image_tag "cream.png", alt: "Product image not available", id: "product-hero", class: "bg-white shadow-lg rounded-circle", width: 250 %>
    <% else %>
      <img id="product-hero" class="bg-white shadow-lg rounded-circle" style="width:250px;" src=<%= @product.image_url%> alt=<%= "Image of #{@product.name} by #{@product.brand}" %>>
    <% end %>
    <!-- If the user is signed in, show the 'Add to favorite' feature -->
    <% if user_signed_in? %>
      <% if current_user.favorited?(@product) %>
        <div class="favorite-container">
          <i id="favorited-heart" class="fa-solid fa-heart"></i>
          <p id ="favorited-text" class="text-center">This product is in your favorites!</p>
        </div>
      <% else %>
        <%= link_to favorite_product_path(@product), class: "favorite-container d-flex flex-column align-items-center" do %>
            <i id="favorite-heart" class="fa-solid fa-heart"></i>
            <p class="text-center">Add to your favorites</p>
        <% end %>
      <% end %>

    <!-- Else, ask them to sign up or login -->

    <% else %>
    <div class="favorite-container">
      <%= link_to new_user_session_path, class: "d-flex flex-column align-items-center" do %>
        <i id="favorite-heart" class="fa-solid fa-heart"></i>
        <p class="text-center"> <strong><u>Login to save this product.</u></strong></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="product-details shadow-lg">
    <h1><%= @product.name.titleize %></h1>
    <h2><span class="fw-light">by </span><%= @product.brand.titleize %></h2>
    <% (@product.user_rating.to_i).times do %>
      <i class="fa-solid fa-star fs-2" style="color:#ffcc00;"></i>
    <% end %>
    <h2 class="mb-3"><%= @product.retail_price == "$0.00" ? "Ask store associate" : @product.retail_price  %></h2>
    <div class="product-menu accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style='font-size: 1.5rem'>
          Description
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.description.nil? ? "Ask store associate" : @product.description.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style='font-size: 1.5rem'>
            How To
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.how_to.nil? ? "Ask store associate" : @product.how_to.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style='font-size: 1.5rem'>
            Benefits
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.benefits.nil? ? "Ask store associate" : @product.benefits.html_safe %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style='font-size: 1.5rem'>
            Ingredients
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.ingredients.nil? ? "Ask store associate" : @product.ingredients.html_safe %></div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="btn btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style='font-size: 1.5rem'>
            Bonus Points
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><%= @product.bonus_points.nil? ? "Ask store associate" : @product.bonus_points.html_safe %></div>
        </div>
      </div>
      </div>
  </div>

  <div class="buttons d-flex flex-row justify-content-center">
    <%= link_to 'New Scan', new_product_path, class: "btn btn-primary fs-2" %>
    <%= link_to 'Ask for Help', root_path, class: "btn btn-primary fs-2" %>
  </div>
</div>
