<!DOCTYPE html>
<html>
  <head>
    <title>Illuminate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.7/dist/scrollreveal.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <script>
    // Paragraph appear
      ScrollReveal().reveal('[data-sr]', {
        duration: 1500,
        easing: 'cubic-bezier(0.5, 0, 0, 1)',
        mobile: true,
        reset: true,
        viewFactor: 0.5,
      });
    </script>
  </body>
</html>
